  
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  
  /* http://meyerweb.com/eric/tools/css/reset/ 
     v2.0 | 20110126
     License: none (public domain)
  */
  
  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after, q:before, q:after {
    content: "";
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }


  /* --- Site Styling Starts Here --- */

  html {
      box-sizing: border-box;
      font-family: 'Roboto' sans-serif;
      font-size: 1em;
      background-color: #1A1A1A;
      color: #fff;
  }

  body {
      width: 95%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0;
  }


  h1, h2, h3, h4, h5, h6 {
    display: block;
    font-weight: normal;
    font-family: "Roboto", sans-serif;
    padding: 0;
    color: #FCF69A;
  }
  
  h1 {
    font-size: 3.052em;
  }
  
  h2 {
    font-size: 2.441em;
  }
  
  h3 {
    font-size: 1.953em;
  }
  
  h4 {
    font-size: 1.563em;
  }
  
  h5 {
    font-size: 1.25em;
  }
  
  h6 {
    font-size: 0.8em;
  }
  p {
    font-size: 1em;
    font-family: "Roboto", sans-serif;
    line-height: 1.5em;
  }

  .container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto minmax(650px) 1fr;
      grid-template-areas: 
      "header header header"
      "main main main"
      "footer footer footer"
      "bottom-line bottom-line bottom-line";
  }

  .header {
      grid-area: header;
  }

  .main {
      grid-area: main;
  }

  

  .nav-container {
      width: 100%;
  }

  nav {
      max-width: 1720px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 350px auto 80px;
  }


  nav a {
      color: #FCF69A;
      text-decoration: none;
      text-transform: uppercase;
      transition: .3s all ease-in-out;
  }

  nav a:hover {
      opacity: .7;
  }

  #nav-toggle, .burger-menu {
      display: none;
  }

  .burger-menu {
      width: 40px;
  }

  .burger-menu {
      grid-column: 2;
      align-self: center;
      margin-left: 20px;
      font-size: 2em;
      color: #FCF69A;
  }

  @media only screen and (max-width: 1025px) {
     
    nav > :nth-child(3) {
        max-width: 10% /* 20% x 300px */
      }
    
    .burger-menu {
          display: inline-block;
      }

      .left-menu {
          display: none;
      }

      #nav-toggle:checked ~ .left-menu {
          display: grid;
          grid-row: 2;
      }
  }

  .left-menu {
      grid-column: 2;
      align-self: center;
      justify-self: center;
      padding-left: 50px;
  }

  .left-menu a {
      padding: 10px 0;
      margin-left: 15px;
      font-size: 1.15em;
      font-weight: 700;
      letter-spacing: 0.5px;
  }

  .logo {
      grid-column: 1;
  }

  .logo #img1 {
      max-width: 100%;
      height: auto !important;
  }

  .logo #img2 {
      display: none;
  }

  @media only screen and (max-width: 1025px){
      .logo #img1 {
          display: none;
      }

      .logo #img2 {
          display: block;
      }
  }

  .right-menu {
      grid-column: 3;
      align-self: center;
      justify-self: end;
      font-size: 2em;
      margin-right: 20px;
      margin-left: 30px;
  }

  .right-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
  }


  .cover {
      width: 100%;
      height: 65vh;
      background-image: url("/images/Custom-Manufacturing.jpg");
      background-size: cover;
      background-position: center center;
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr;
  }

  .cover-text {
      grid-column-start: 2;
      grid-column-end: 3;
      justify-self: end;
      align-self: center;
      display: flex;
      align-items: center;
      width: 600px;
      height: 100px;
      background-color: #1A1A1A;
  }

  .cover-text h2 {
      color: #FCF69A;
      padding-left: 20px;
      font-size: 2em;
      text-transform: uppercase;
      font-weight: bold;
  }

  .main-content {
      margin: 0;
  }

  .intro {
      background-color: #FCF69A;
      color: #1A1A1A;
      padding: 25px 50px;
  }

  .intro h1 {
      margin: 0;
      margin-bottom: 10px;      
      color: #1A1A1A;
      font-weight: bold;
  }

  .intro h3 {
      margin: 0;
      margin-bottom: 10px;
      color: #1A1A1A;
  }

  .service {
    box-sizing: border-box;
    padding: 10px;
    display: grid;      
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 10px;
    
  }

  .service-box {
      min-width: 320px;
      padding: 20px;
      background-color: #4D4D4D;
      border-radius: 25px;
  }

  .service-box img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding-top: 15px;
      padding-bottom: 10px;
      width: 100%;
      object-fit: contain;
  }

  .service-heading {
    background-color: #333333;
    width: 100%;
    padding: 10px 0;
    margin-bottom: 10px;
    border-radius: 10px;
  }

  .service-box h4 {
      text-align: center;
      font-weight: bold;
  }

  .service-box p {
    text-align: center;
  }

  .content {
    padding: 50px;
  }

  .content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
    line-height: 50px;
    letter-spacing: 1px;
    padding: 0 0 20px;
  }


  /* Portfolio Styling */

  .portfolio {
    display: grid;
    padding: 25px;
    grid-gap: 15px;
    overflow: hidden;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-auto-flow: dense;
  }

  .item {
    position: relative;
    border: 2px solid #FCF69A;
  }

  .item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  /* The overlay effect for the portfolio images */

  .overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0,0,0);
    background: rgba(0,0,0,0.5); /* Transparent black */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    padding: 30px;
    text-align: center;
  }

  /* Mouse over effect, fade in overlay title */

  .item:hover .overlay {
    opacity: 1;
  }


  /* Styling for Contact Page */
  .contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "map form";

  }

  .map {
    grid-area: map;
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
  }

  .resp-map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #FCF69A;
  }

  .contact-form {
    grid-area: form;
    padding-right: 20px;
    padding-left: 20px;
  }

  form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px;
  }

  @media screen and (max-width: 768px) {
    .contact {
      display: grid;
      grid-column: 1fr;
      grid-template-rows: auto;
      grid-template-areas: 
      "map" 
      "form";
    }
  }

  /* Footer Styling */

  .footer {
    grid-area: footer;
    color: #fff;
    background: #1A1A1A;
    padding: 4em 0;
    display: grid;
    grid-template-columns: 7vw 1fr 7vw;
    grid-template-rows: auto;
}

  .footer-container { 
    grid-column: 2 / 3;
    display: grid; /* Acting as grid container */
    grid-template-columns: 2fr 2fr 2fr 3fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "logo navigation secondary contact";
    grid-row-gap: 20px;
}
  
  .footer-logo {
    grid-area: logo;
    align-self: center;
    justify-self: center;
  }

  .footer-nav {
    grid-area: navigation;
    align-self: center;
    justify-self: center;
  }

  .footer-secondary-nav {
    grid-area: secondary;
    align-self: center;
    justify-self: center;
  }

  .footer a {
    color: #fff;
  }


  .contact-block {
    grid-area: contact;
    margin-top: 10px;
    
  }

  .contact-block h3 {
    text-align: center;
  }

  .contact-block a{
    display: block;
    border: 2px solid #fff;
    padding: 0.5rem;
    margin: 10px 0 0;
    text-align: center;
    width: 100%;
  }

  .contact-block a:hover {
    border: 2px solid #FCF69A;
    color: #FCF69A;
  }


  .bottom-line{
    grid-area: bottom-line;
    display: grid;
    grid-template-columns: 7vw 8fr 4fr 7vw;
    background-color: #444554;
  }

  .bottom-line p {
    grid-column: 2;
    padding: 15px;
  }

  .bottom-line, .bottom-line a {
    color: #fff;
  }

  .legal {
    justify-items: end;
    align-self: center;
  }

  .legal p {
    text-align: end;
  }

  /* Footer Media Queries */

  @media only screen and (max-width: 1025px) {
    .footer {
      height: 35vh;
    }

    .footer-nav, .footer-secondary-nav {
      display: none;
    }

    .footer-container {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 20vh;
      grid-template-areas: 
       "logo contact";
    }

    .bottom-line {
      display: grid;
      grid-template-columns: 7vw 1fr 7vw;
    }

    .bottom-line p {
      justify-self: center;
    }

    .legal {
      grid-column: 2 / -2;
      justify-items: center;
    }
  }

  @media screen and (max-width: 768px){
    .footer {
      height: 65vh;
    }

    .footer-container {
      grid-template-columns: 1fr;
      grid-template-areas: "logo" "contact";
    }

    .footer-logo, .contact-block {
      justify-self: center;
      align-self: center;
    }

    .social-networks, .newsletter {
      padding: 3rem 0;
    }

    .contact-block a, .contact-block p {
      margin: 0 auto;
    }

    .contact-block h3, .social-networks h3 {
      line-height: 3rem;
    }

    .bottom-line {
      display: grid;
      grid-template-columns: 1fr;
    }

    .legal {
      grid-column: 1;
      justify-self: center;
    }

    .bottom-line p {
      grid-column: 1;
      justify-self: center;
    }
  }